# Export all names
export(
GaussRF, GaussRF.Raster, GaussRF.SpatialPoints, GaussRF.SpatialPointsDataFrame,
GaussRF.default, 
getTiles, getTiles.matrix, getTiles.Extent, getTiles.default,
likfit, likfit.default, likfit.SpatialPointsDataFrame,
 anisoMatrix,krige,stackRasterList
)

# Import all packages listed as Imports or Depends
import(
  sp,
  raster,
  RandomFields,
  geoR
)

importFrom(webmaps, getTiles)
