# Export all names
export(
GaussRF, GaussRF.Raster, GaussRF.SpatialPoints, GaussRF.SpatialPointsDataFrame,
GaussRF.default, 
getTiles, getTiles.matrix, getTiles.Extent, getTiles.default,
likfit, likfit.default, likfit.SpatialPointsDataFrame,
 anisoMatrix,krige,stackRasterList,
 variog, variog.SpatialPointsDataFrame, variog.default,
 variog.mc.env, variog.mc.env.SpatialPointsDataFrame, variog.mc.env.default,
 maternGmrfPrec, loglik.GRF, loglik.GRF, loglik.GRF.SpatialPointsDataFrame,
 grfConditional, maternGmrfPrec, maternGmrfPrec.default, maternGmrfPrec.dgCMatrix,
 maternGmrfPrec.matrix, NNmat, gmrfPrecUncond,simLgcp,simPoissonPP,
 as.im, as.im.default,as.im.RasterLayer
)

# Import all packages listed as Imports or Depends
import(
  sp,
  raster,
  RandomFields,
  geoR,Matrix
)

importFrom(webmaps, getTiles)
