# Export all names
export(
GaussRF, 
openmap,  
likfit,  
 anisoMatrix,krige,stackRasterList,
 variog, 
 variog.mc.env,  
 maternGmrfPrec, loglik.GRF,  
 grfConditional, maternGmrfPrec,  
NNmat, gmrfPrecUncond,simLgcp,simPoissonPP,
 as.im ,
 GNcities,  
 lgm, excProb
)

# Import all packages listed as Imports or Depends
import(
  sp,
  raster,
  geoR,Matrix
)

# used :: so don't need
# importFrom(OpenStreetMap, openmap,openproj)
# importFrom(RandomFields, GaussRF)
# importFrom(geonames, GNcities)
# importFrom(spatstat, as.im)
# importFrom(pracma, trapz)