# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
export(
bym, cancerRates,  formatCases, 
getRates,  getStdRate, 
getBreaks,
excProb, nbToInlaGraph
)

export(getSMR)
S3method(getSMR,'data.frame','getSMR_data_frame')
S3method(getSMR,'list', 'getSMR_list')
S3method(getSMR,'SpatialPolygonsDataFrame', 'getSMR_SpatialPolygonsDataFrame')

export(formatPopulation)
S3method(formatPopulation,'data.frame','formatPopulation_data_frame')
S3method(formatPopulation,'list','formatPopulation_list')
S3method(formatPopulation,'SpatialPolygonsDataFrame',
	'formatPopulation_SpatialPolygonsDataFrame')

export(mergeBugsData)
S3method(mergeBugsData,'SpatialPolygonsDataFrame','mergeBugsData_SpatialPolygonsDataFrame') 
S3method(mergeBugsData,'data.frame','mergeBugsData_data_frame')

# only needed because INLA is requireNamespace instead of require
export(inla.models)

# Import all packages listed as Imports or Depends
import(
  sp, methods
)


# also uses spdep::poly2nb