# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
export(
bym, cancerRates,  formatCases, 
getRates,  getStdRate, 
getBreaks,
nbToInlaGraph
)

export(getSMR)

export(formatPopulation)

export(mergeBugsData)

# only needed because INLA is requireNamespace instead of require
export(inla.models)

# Import all packages listed as Imports or Depends
import(
  sp, methods
)


# also uses spdep::poly2nb