export(bym, 
	lgcp,glgm)

S3method(bym, SpatialPolygonsDataFrame)
S3method(bym, data.frame)


import(
  sp,
  raster,
  methods
)

importFrom(geostatsp, stackRasterList)
importFrom(geostatsp, squareRaster)

 

# also need spdep::poly2nb