export(bym, 
	lgcp,glgm)

S3method(bym, SpatialPolygonsDataFrame)
S3method(bym, data.frame)

importFrom(spdep, poly2nb)

importFrom(INLA, inla, inla.models, inla.make.lincombs)
export(inla.models)



import(
  sp,
  raster,
  geostatsp
)

 

