# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
export(bym, 
	lgcp,glgm)

S3method(bym, SpatialPolygonsDataFrame)
S3method(bym, data.frame)

# Import all packages listed as Imports or Depends
import(
  sp,
  raster,formula.tools,  
  geostatsp, INLA 
)

 

