export(scaleBar,map.new,legendBreaks, col2html)
export(colourScale)
S3method(colourScale, Raster)
S3method(colourScale, numeric)
S3method(colourScale, factor)
S3method(colourScale, NULL)
S3method(colourScale, logical)

export(openmap, osmTiles,insetMap, omerc,openmapAttribution, legendTable)
export(tpeqd)

export( GNcities, GNsearch)



import(
  sp,
  raster
  )

 # brewer.pal from RColorBrewer referenced by ::

